.btn-apply{
  display: inline-block;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  /*font-weight: bold;*/
  /*text-decoration: none;*/
  background-color: #6AD58B;
  transition: background 0.3s ease;
}

.btn-apply:hover{
  /*text-decoration: none;*/
  color: white;
  background-color: #3ac162;
}

